html{
    font-size: 63.2%;
    text-align: center;
}

#celular{
    width: 420px;
}

#recuadro_s{
    display: none;
    border-radius: 10px;
    position: fixed;
    background-color: white;
    z-index: 3;
    padding: 40px;
    left: 11%;
    top: 40%;
}

#body-overlay {
    width: 420px;
    height: 100vh;
    display: none;
    position: fixed;
    z-index: 3;
    top: 0;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
}


#real-menu {
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 4;
    width: 300px;
    height: 100%;
    padding: .5rem 1rem;
    box-shadow: 0 6px 12px rgba(107, 82, 82, 0.3);
    background-color:#FFFAFB;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: ease 0.2s all;
}

#body-overlay.menu-open{
    display: block;
}

#real-menu.menu-open{
    left: 0;
}

#recuadro_s.active{
    display: block;
}

#open-menu{
    background: none;
    border-style: none;
    cursor: pointer;
}

h1{
    font-size: 3.5rem;
}

h2{
    font-size: 3rem;
}

p{
    font-size: 2rem;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    padding-left: 20px;
}

li{
    font-size: 2.5rem;
    text-decoration: none;
    list-style-type: none;
    text-align: left;
    line-height: 70px;
    border-bottom: 1px solid black;
}

header{
    width: 100%;
    display: flex;
    padding-bottom: 30px;
    background-color: #7DE2D1;
    color:#131515;
}

header div img{
    width: 40%;
    padding: 28px 10px 0px 10px;
}

#open-menu img{
    width: 50%;
    padding: 28px 20px 0px 10px;
}

#vista_login.hide{
    display: none;
}

#img_login{
    width: 100%;
}

#img_login img{
    width: 60%;
    padding: 40px;
}

#vista_home.hide{
    display: none;
}

#home{
    text-align: right;
    width: 20%;
}

#menu{
    text-align: left;
    width: 20%;
}

#titulo{
    border-bottom: 1px solid #131515;
    width: 60%;
}

main{
    width: 100%;
}

#enlace{
    display: flex;
    width: 100%;
}

#espaciado{
    width: 11%;
}

#contenido{
    display: flex;
    width: 78%;
}

#contenido #imagen{
    width: 30%;
}

#contenido #imagen img{
    width: 50%;
    padding: 20px 15px 0px 15px;
}

#contenido #texto{
    text-align: left;
    width: 70%;
    border-bottom: 1px solid #339989;
}

#contenido #imagen-ap img{
    width: 95px;
    height: 95px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 3px;
}
#caja{
    border-bottom:1px solid #339989;
    width: 222px;
    height: auto;

}
#contenido #texto-box{
    text-align:left;
    width: 60%;
}

#texto-box p{
    width: 175px;
    height: 90px;
    margin-inline-start: 3px;
    margin-inline-end: 3px;
}
 #combobox{
    width: 145px;
    height: 25px;
    margin-left: 260px;
    margin-bottom: 5px;
    margin-top: 15px;
 }

 #caja-grupo{
    border-bottom:1px solid #339989;
    width: 320px;
    height: auto;
 }

 #contenido #imagen-g{
    width: 95px;
    height: 95px;
    float: left;
 }

 #contenido #imagen-g img{
    width: 95px;
    height: 95px;
    margin-left: 5px;
    margin-top: 12px;
    float: left;
 }
 #info-g p{
    float:right;
    width:180px;
    height:auto;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    display: flex;
    text-align: left;
 }
 #enlace-g {
    display:block;
    margin-top: 200px;
    width: 180px;
    height: 24px;
    margin-left: 105px;
    border-top: 1px solid black;
    font-size: 2rem;
    font-weight: bold;

 }
 #imagen-detalle img{
    width: 320px;
    height: 420px;
 }
#caja-detalle{
    width: 320px;
    margin-left: 45px;
    margin-top: 10px;
    border-top:1px solid #339989;
    border-bottom:1px solid #339989;
}
#caja-detalle p{
    text-align: center;
}






