$letra: 'Fredoka', sans-serif;
$color_letra: #2ca476;
$color_link: #339989;

@use "_header.scss";
@use "_login.scss";
@use "_contenido.scss";

html{
    font-size: 63.2%;
    text-align: center;
    font-family: $letra;
}

body{
    margin: 0;
}

h1{
    font-size: 3.5rem;
}

h2{
    font-size: 3rem;
    color: $color_letra;
}

p{
    font-size: 2rem;
}

label{
    font-size:1.2em;
    color:#131515;
}

a{
    text-decoration: none;
    color: $color_link;
    font-weight: bold;
    cursor: pointer;
}

ul{
    padding-left: 20px;
}

li{
    font-size: 2.5rem;
    text-decoration: none;
    list-style-type: none;
    text-align: left;
    line-height: 70px;
    border-bottom: 1px solid black;
}